In [6]:
import numpy as np
import pandas as pd
# from drive_functions import *
from datetime import datetime, timedelta, date
# from journal_doc_functions import *
# from time_functions import *
import config
# os.chdir('/home/willcline/benji')
cwd = os.getcwd()
now = datetime.utcnow()
client_data_path = cwd + '/client_data.csv'

In [13]:
from twilio.twiml.messaging_response import MessagingResponse
from twilio.rest import Client

In [14]:
twilio_phone = config.twilio_phone
client = Client(config.twilio_account_sid, config.twilio_auth_token)

In [15]:
msg = client.messages.create(
                    body= ("test in Jupyternotebook"),
                    from_=twilio_phone,
                    to='+12058079007'
                )

In [11]:
phone = 2058079007
email = 'willcline613@gmail.com'
client_data = pd.read_csv('client_data.csv')
row = client_data[(client_data['phone']==phone) & (client_data['email']==email)].reset_index()

In [12]:
row

,index,nickname,phone,email,account_active,signup_date,stripe_customer_id,file_id,doc_link,time_zone,...,wq_time,mq_on,eq_on,wq_on,mq_prompt,eq_prompt,wq_prompt,mq_toggle_flag,eq_toggle_flag,wq_toggle_flag
0,0,Will,2058079007,willcline613@gmail.com,y,02/12/2022,cus_L8kQvReWMg6mtF,1IjmzEzSrCsmwt1sGB3KgbCCkszshZOPJ,https://drive.google.com/file/d/1IjmzEzSrCsmwt...,US/Central,...,NaN,NaN,NaN,NaN,How will he boldly sacrifice for his main goals?,How did today’s actions cause a celebratory ex...,How did he boldly take initiative and work har...,y,y,n

In [9]:
row['nickname'][0]

KeyError: 0

In [2]:
client_data = pd.read_csv(client_data_path)
client_data.columns

Index(['nickname', 'phone', 'email', 'account_active', 'signup_date',
       'stripe_customer_id', 'file_id', 'doc_link', 'time_zone', 'mq_time',
       'eq_time', 'wants_responses_flag', 'morning_entry_qty',
       'evening_entry_qty', 'most_recent_morning_entry_date',
       'most_recent_evening_entry_date', 'morning_entry_streak',
       'evening_entry_streak', 'morning_entry_qty_week',
       'morning_entry_qty_month', 'evening_entry_qty_week',
       'evening_entry_qty_month', 'wq_time', 'mq_on', 'eq_on', 'wq_on',
       'mq_prompt', 'eq_prompt', 'wq_prompt', 'mq_toggle_flag',
       'eq_toggle_flag', 'wq_toggle_flag'],
      dtype='object')

In [30]:
client_data = pd.read_csv(client_data_path)
client_data[['nickname', 'phone', 'morning_entry_qty',
       'evening_entry_qty', 'most_recent_morning_entry_date',
       'most_recent_evening_entry_date', 'morning_entry_streak',
       'evening_entry_streak', 'morning_entry_qty_week',
       'morning_entry_qty_month', 'evening_entry_qty_week',
       'evening_entry_qty_month']]

,nickname,phone,morning_entry_qty,evening_entry_qty,most_recent_morning_entry_date,most_recent_evening_entry_date,morning_entry_streak,evening_entry_streak,morning_entry_qty_week,morning_entry_qty_month,evening_entry_qty_week,evening_entry_qty_month
0,Will,2058079007,168.0,164.0,08/27/22,08/26/22,13.0,16.0,7.0,24.0,6.0,23.0
1,Haadi,2563285508,15.0,28.0,06/21/22,08/01/22,0.0,0.0,0.0,0.0,0.0,1.0
2,Austin,2057777870,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,Gerry,2058075301,2.0,5.0,02/24/22,02/21/22,0.0,0.0,0.0,0.0,0.0,0.0
4,Reagan,2053329133,34.0,3.0,06/16/22,05/21/22,0.0,0.0,0.0,0.0,0.0,0.0
5,WaterInMyGlass,2059377587,2.0,2.0,03/01/22,03/01/22,0.0,0.0,0.0,0.0,0.0,0.0
6,Rob,2058370834,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
7,Quinn,2054419803,5.0,4.0,03/10/22,03/10/22,0.0,0.0,0.0,0.0,0.0,0.0
8,Dana,2513910763,1.0,0.0,03/08/22,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9,Riley,2566066737,16.0,20.0,08/15/22,08/21/22,0.0,0.0,0.0,2.0,1.0,5.0
10,Matthew,2055803803,10.0,8.0,07/11/22,07/06/22,0.0,0.0,0.0,0.0,0.0,0.0
11,Raw Dawg,2053883406,16.0,19.0,08/24/22,08/23/22,0.0,0.0,1.0,1.0,1.0,2.0
12,Maryn,9802344006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Benji,2058073322,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
if ( (pd.isna(row['mq_toggle_flag'])) or (row['mq_toggle_flag']=='y') ) & (utc_now.hour == mq_dt.hour) & (utc_now.minute >= mq_dt.minute) & (utc_now.minute < mq_dt.minute + 5):
    print('sending mq for ' + row['nickname'])
    morning(row)
if ( (pd.isna(row['eq_toggle_flag'])) or (row['eq_toggle_flag']=='y') ) & (utc_now.hour == eq_dt.hour) & (utc_now.minute >= eq_dt.minute) & (utc_now.minute < eq_dt.minute + 5):
    print('sending eq for ' + row['nickname'])
    evening(row)

In [10]:
utc_now = datetime.utcnow() #current utc time (operating system's time)

In [54]:
utc_now.hour

23

In [55]:
def to_utc(time, time_zone):
    time_obj_utc = pytz.timezone(time_zone).localize(datetime(2000, 1, 1, int(time.split(":")[0]), int(time.split(":")[1]), 0), is_dst=True).astimezone(pytz.timezone('UTC'))
    return time_obj_utc

In [ ]:
def to_utc(time, time_zone):
    time_obj_utc = pytz.timezone(time_zone).localize(datetime(2000, 1, 1, int(time.split(":")[0]), int(time.split(":")[1]), 0), is_dst=True).astimezone(pytz.timezone('UTC'))
    return time_obj_utc

In [56]:
time_zone = 'US/Central'
mq_time = "07:30"
eq_time = "21:30"

In [77]:
to_utc("18:35", time_zone)

datetime.datetime(2000, 1, 2, 0, 35, tzinfo=<UTC>)

In [58]:
mq_dt = to_utc(mq_time, time_zone)
eq_dt = to_utc(eq_time, time_zone)

In [100]:
mq_time = "17:18"

In [134]:
time_zone = 'US/Central'

In [74]:
#timezone aware utc now
def utcnow_tzaware():
    return pytz.utc.localize(datetime.utcnow())

In [75]:
utcnow_tzaware()

datetime.datetime(2022, 8, 30, 0, 11, 20, 310769, tzinfo=<UTC>)

In [76]:
datetime.utcnow()

datetime.datetime(2022, 8, 30, 0, 11, 20, 759005)

In [70]:
pytz.timezone(time_zone).localize(datetime(2000, 1, 1, int(mq_time.split(":")[0]), int(mq_time.split(":")[1]), 0), is_dst=True).utcoffset().seconds

64800

In [94]:
pytz.timezone(time_zone).localize(datetime(2000, 1, 1, int(mq_time.split(":")[0]), int(mq_time.split(":")[1]), 0), is_dst=True).dst()

datetime.timedelta(0)

In [103]:
pytz.timezone(time_zone).localize(datetime(2022, 1, 1, int(mq_time.split(":")[0]), int(mq_time.split(":")[1]), 0), is_dst=True).astimezone(pytz.timezone('UTC')).hour

1

In [115]:
from datetime import datetime   
import pytz

local = pytz.timezone("US/Central")
naive = datetime.strptime("2001-2-3 19:11:12", "%Y-%m-%d %H:%M:%S")
local_dt = local.localize(naive, is_dst=False)
utc_dt = local_dt.astimezone(pytz.utc)

In [171]:
def to_utc(time, time_zone):
    utc = pytz.timezone('UTC')
    now = utc.localize(datetime.utcnow())
    #timezone of choice
    tz = pytz.timezone(time_zone)

    #create timestamp in timezone of choice
    local_time = now.astimezone(tz)
    
    #now that I have an object with the right properties, replace the hour and minute to what you need it to be
    h = int(time.split(":")[0])
    m = int(time.split(":")[1])
    local_time = local_time.replace(hour=h)
    local_time = local_time.replace(minute=m)
    
    local_time = local_time.astimezone(utc)
    return local_time

In [149]:
to_utc("07:30", 'US/Central')

datetime.datetime(2022, 8, 29, 7, 30, 53, 668239, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>)

In [143]:
time_zone = 'US/Mountain'

utc = pytz.timezone('UTC')
now = utc.localize(datetime.utcnow())
#timezone of choice
tz = pytz.timezone(time_zone)

#create timestamp in timezone of choice
local_time = now.astimezone(tz)
#now that I have an object with the right properties, replace the hour and minute to what you need it to be
# local_time = local_time.replace(hour=21)
# local_time = local_time.replace(minute=30)

print('specified tz: '+ str(local_time.hour))
print("utc: "+ str(local_time.astimezone(pytz.utc).hour))

specified tz: 19
utc: 1

In [123]:
local_time

datetime.datetime(2022, 8, 29, 19, 52, 46, 951604, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>)

In [124]:
local_time.astimezone(pytz.utc)

datetime.datetime(2022, 8, 30, 0, 52, 46, 951604, tzinfo=<UTC>)

In [172]:
time_zone = 'US/Central'
eq_dt = to_utc("21:30", time_zone)

In [156]:
utc_now = pytz.timezone('UTC').localize(datetime.utcnow())

In [157]:
client_data = pd.read_csv(client_data_path)
row = client_data[client_data['phone']==2058079007].reset_index()

In [173]:
eq_dt.hour

2

In [169]:
utc_now.hour

2

In [163]:
type(eq_dt)

datetime.datetime

In [164]:
utc_now >= eq_dt

False

In [165]:
if( ( (pd.isna(row['eq_toggle_flag'][0])) or (row['eq_toggle_flag'][0]=='y') ) & (utc_now >= eq_dt) and (utc_now <= eq_dt + timedelta(hours=5)) ):
        print("true")

In [150]:
client_data[['nickname', 'phone', 'time_zone', 'eq_time', 'mq_time']]

          nickname       phone   time_zone eq_time mq_time
0             Will  2058079007  US/Central   22:30   07:30
1            Haadi  2563285508         NaN     NaN     NaN
2           Austin  2057777870         NaN     NaN     NaN
3            Gerry  2058075301         NaN     NaN     NaN
4           Reagan  2053329133   US/Hawaii     NaN     NaN
5   WaterInMyGlass  2059377587         NaN     NaN     NaN
6              Rob  2058370834         NaN     NaN     NaN
7            Quinn  2054419803         NaN     NaN     NaN
8             Dana  2513910763         NaN     NaN     NaN
9            Riley  2566066737         NaN     NaN     NaN
10         Matthew  2055803803         NaN   21:00     NaN
11        Raw Dawg  2053883406         NaN     NaN     NaN
12           Maryn  9802344006         NaN     NaN     NaN
13           Benji  2058073322         NaN     NaN     NaN

# Data manipulation

In [35]:
client_data["mq_prompt"] =

In [17]:
#Replace value in an entry
client_data.loc[client_data.phone==2055803803,'eq_time']="21:00"

In [201]:
#delete entry
phone = 2058075301
client_data = client_data[client_data['phone'] != phone]

In [36]:
#!!!!!!!!!!!!!!!!!!!!!export datatable!!!!!!!!!!!!!!!!!!!!!
client_data.to_csv('client_data.csv', index=False)
#!!!!!!!!!!!!!!!!!!!!!export datatable!!!!!!!!!!!!!!!!!!!!!

In [6]:
client_data = pd.read_csv('client_data.csv')
#return df row for certain client
row = client_data[client_data['phone']==2058079007].reset_index()
row

,index,nickname,phone,email,account_active,signup_date,stripe_customer_id,file_id,doc_link,time_zone,...,morning_entry_streak,evening_entry_streak,morning_entry_qty_week,morning_entry_qty_month,evening_entry_qty_week,evening_entry_qty_month,wq_time,mq_on,eq_on,wq_on
0,0,Will,2058079007,willcline613@gmail.com,y,02/12/2022,cus_L8kQvReWMg6mtF,1IjmzEzSrCsmwt1sGB3KgbCCkszshZOPJ,https://drive.google.com/file/d/1IjmzEzSrCsmwt...,NaN,...,7.0,0.0,6.0,18.0,7.0,17.0,NaN,NaN,NaN,NaN

In [168]:
uploadFile(row['nickname'][0], row['phone'][0])

File ID: 15nSY2JNkHVMetQ72GURYbvlC9b1QNf2N

/Users/willcline/Documents/benji/drive_upload.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_metadata = {

In [170]:
updateFile(row['nickname'][0], row['phone'][0], row['file_id'][0])

File ID: 1LaMx5Wxlrkt0wLpbQofm7eON68HSahwK

In [ ]:
entry_index = 1
        #prev_date_str = most_recent_date
        while (entry_index <= len(entry_dates)-1) & (entry_dates[entry_index] == (most_recent_date - timedelta(days=entry_index)).strftime("%m/%d/%y")):
            print(entry_index)
            #prev_date_str = (most_recent_date - timedelta(days=entry_index)).strftime("%m/%d/%y")
            entry_index += 1
        streak = entry_index

In [11]:
#entry_dates = ['02/26/22','02/25/22','02/24/22','02/23/22','02/26/22']
entry_dates = ['02/26/22','02/25/22','02/24/22','02/23/22','02/22/22', '02/19/22', '02/02/22', '02/01/22']
#entry_dates = ['02/25/22','02/24/22','02/23/22','02/22/22']
#entry_dates = ['02/24/22','02/23/22','02/22/22']
#entry_dates = []
period = 'month'

In [138]:
cwd = os.getcwd()
print(cwd)

/home/willcline/benji/journals

In [140]:
import sys,os
print(sys.path.append(os.path.realpath('/benji')))

None

In [132]:
os.chdir('/home/willcline/benji/journals')

In [128]:
import os
cwd = os.getcwd()
client_data_path = cwd + '/client_data.csv'
client_data = pd.read_csv(client_data_path)
client_data.tail()

,nickname,phone,email,account_active,signup_date,stripe_customer_id,file_id,doc_link,time_zone,mq_time,...,morning_entry_qty,evening_entry_qty,most_recent_morning_entry_date,most_recent_evening_entry_date,morning_entry_streak,evening_entry_streak,morning_entry_qty_week,morning_entry_qty_month,evening_entry_qty_week,evening_entry_qty_month
7,Quinn,2054419803,nhquynh3011@gmail.com,y,02/26/22,NaN,1T4hv1TIkvePaOz8Qpz1Z0kia8BGTkv-o,https://drive.google.com/file/d/1T4hv1TIkvePaO...,NaN,NaN,...,5.0,4.0,03/10/22,03/10/22,0.0,0.0,0.0,0.0,0.0,0.0
8,Dana,2513910763,Danakhodde90@gmail.com,y,03/05/22,NaN,1GdI--FPOMvO3GQHfNklhrbSvi5yri2uv,https://drive.google.com/file/d/1GdI--FPOMvO3G...,NaN,NaN,...,1.0,0.0,03/08/22,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9,Riley,2566066737,rbud0110@gmail.com,y,05/08/22,NaN,1gBIj1PM58_nI5k0d4ttxXy-c4lN63Yr1,https://drive.google.com/file/d/1gBIj1PM58_nI5...,NaN,NaN,...,14.0,13.0,06/01/22,06/30/22,0.0,0.0,0.0,0.0,0.0,0.0
10,Matthew,2055803803,Matthew@teamstrong.com,y,06/16/22,NaN,1o_LNYH_X8VgRf-cODhyrqvz_fW-ZEXl9,https://drive.google.com/file/d/1o_LNYH_X8VgRf...,NaN,NaN,...,10.0,8.0,07/11/22,07/06/22,0.0,0.0,1.0,2.0,1.0,1.0
11,Raw Dawg,2053883406,cameronfreemann@gmail.com,y,06/19/22,NaN,19Y_kV7MAk15TPWDPNn0gMQST6hMH4f4J,https://drive.google.com/file/d/19Y_kV7MAk15TP...,NaN,NaN,...,13.0,16.0,07/09/22,07/12/22,0.0,2.0,2.0,3.0,5.0,9.0

In [14]:
week_usage = get_usage_in_period(entry_dates, 'month')
week_usage

getting_usage month

8

In [5]:
def get_usage_in_period(entry_dates, period):
    #get all dates within time period compare to
    print('getting_usage', period)
    if period == 'week':
        x=7
        d = now.toordinal()
        last = d - 6
        su = last - (last % 7)
        sunday = date.fromordinal(su)
        dates = [(sunday + timedelta(days=idx)).strftime("%m/%d/%y") for idx in range(7)]
    elif period == 'month':
        x = 31
        month_start =  datetime.strptime((date_str.split('/')[0] + '/' + '01' + '/' + date_str.split('/')[2]), "%m/%d/%y")
        dates = [(month_start + timedelta(days=idx)).strftime("%m/%d/%y") for idx in range(31)]

    tally = 0
    for entry_date in entry_dates[:x]:
        if entry_date in dates:
            tally += 1
    return tally

In [136]:
streak = get_current_streak(entry_dates)
print(streak)

0

In [6]:
'morning'.capitalize()

'Morning'

In [39]:
type = 'Morning'
phone = 2057777870
get_journal_metadata(type, phone)

2057777870 0 0

In [2]:
#read in data table
client_data = pd.read_csv('client_data.csv')
print(client_data.shape)
client_data.head(10)

(8, 20)

,nickname,phone,email,file_id,doc_link,signup_date,mq_time,eq_time,morning_entry_qty,evening_entry_qty,most_recent_morning_entry_date,most_recent_evening_entry_date,morning_entry_streak,evening_entry_streak,time_zone,wants_responses_flag,morning_entry_qty_week,morning_entry_qty_month,evening_entry_qty_week,evening_entry_qty_month
0,Will,2058079007,willcline613@gmail.com,1IjmzEzSrCsmwt1sGB3KgbCCkszshZOPJ,https://drive.google.com/file/d/1IjmzEzSrCsmwt...,02/12/2022,NaN,NaN,15.0,13.0,02/26/22,02/25/22,15.0,7.0,NaN,NaN,7.0,15.0,6.0,13.0
1,Haadi,2563285508,haadikarim1999@gmail.com,1PCLcETkTcxo8LHFwcWQkEf5d5khyhyGC,https://drive.google.com/file/d/1PCLcETkTcxo8L...,02/17/22,NaN,NaN,6.0,5.0,02/25/22,02/25/22,2.0,2.0,NaN,NaN,4.0,6.0,3.0,5.0
2,Austin,2057777870,AJcrowder1@crimson.ua.edu,1JPbOCKfpXfm4pli-Y1Aij2NCQKGebuAD,https://drive.google.com/file/d/1JPbOCKfpXfm4p...,02/17/22,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
3,Noah,2057894914,Noah.horton2022@gmail.com,1nMACACFxNnMq_Qnz6s6jkcNm3n8iJU90,https://drive.google.com/file/d/1nMACACFxNnMq_...,02/17/22,NaN,NaN,1.0,2.0,02/19/22,02/21/22,0.0,0.0,NaN,NaN,0.0,1.0,1.0,2.0
4,Gerry,2058075301,gerry.blount2125@gmail.com,1o8eHsSTrbmPJUBmG2Xe3wBul1y4S42bk,https://drive.google.com/file/d/1o8eHsSTrbmPJU...,02/17/22,NaN,NaN,2.0,5.0,02/24/22,02/21/22,0.0,0.0,NaN,n,1.0,2.0,2.0,5.0
5,Reagan,2053329133,reaganecline@gmail.com,1jhjTgSpIz9L2aPHG3zp8aJSA5i6F38ek,https://drive.google.com/file/d/1jhjTgSpIz9L2a...,02/22/22,NaN,NaN,1.0,0.0,02/25/22,NaN,1.0,0.0,HST,NaN,1.0,1.0,0.0,0.0
6,WaterInMyGlass,2059377587,Daniel@teamstrong.com,1Tmi_ehaqVUnf8h8DyCEPk4fPdbXze8ee,https://drive.google.com/file/d/1Tmi_ehaqVUnf8...,02/26/22,NaN,NaN,1.0,0.0,02/26/22,NaN,1.0,0.0,NaN,NaN,1.0,1.0,0.0,0.0
7,Rob,2058370834,Robthomas0111@gmail.com,14WOoapHaj_uiuZRkS2tcAz5KUR73Cigs,https://drive.google.com/file/d/14WOoapHaj_uiu...,02/26/22,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0

In [191]:
update_all_client_metadata()

In [ ]:
\U0001F525textmsgjournal.com\U0001F525

In [ ]:
\U0001F525\U0001F973textmsgjournal.com\U0001F973\U0001F525

In [185]:
from twilio.rest import Client as twilioClient
client = twilioClient(config.twilio_account_sid, config.twilio_auth_token)

In [ ]:
U+2B06

In [183]:
import os
from twilio.rest import Client as twilioClient
import time
import pandas as pd
import numpy as np
import random
from datetime import datetime
from journal_doc_functions import *
import config
os.chdir(config.project_working_directory)
cwd = os.getcwd()

client_data_path = cwd + '/client_data.csv'

client = twilioClient(config.twilio_account_sid, config.twilio_auth_token)

In [190]:
 msg = client.messages.create(
            body= "\U0001F604 \n \U00002714Streak: 1",
            from_='+12058555174',
            to='+12058079007')

In [198]:
 msg = client.messages.create(
            body= (
                "Benji had technical difficulties the past few days, but it is now working perfectly."\
                + "\n" + "Sorry for the inconvenience." \
                + '\n' + '\n' + "Also Benji now has a website at"\
                + "\n" + "\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525" \
                + "\n" + "\U0001F973 textmsgjournal.com \U0001F973" \
                + "\n" + "\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525"
                + '\n' + "where you can login with your email via google" \
                + '\n' + "(The website is still in production.)"
    
    
            ),
            from_='+12058555174',
            to=str(2058079007))

In [199]:
client_data = pd.read_csv(client_data_path)

for id, row in client_data.iterrows():
    try:
        msg = client.messages.create(
            body= (
                "Benji had technical difficulties the past few days, but it is now working perfectly."\
                + "\n" + "Sorry for the inconvenience." \
                + '\n' + '\n' + "Also Benji now has a website at"\
                + "\n" + "\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525" \
                + "\n" + "\U0001F973 textmsgjournal.com \U0001F973" \
                + "\n" + "\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525\U0001F525"
                + '\n' + "where you can login with your email via google" \
                + '\n' + '\n' + "(The website is still in production.)"
            ),
            from_='+12058555174',
            to=str(row['phone'])
        )
    except:
        print("Failed to send to " + str(row['phone']))

Failed to send to 2059377587

In [43]:
from datetime import datetime, time
import pytz
UTC_DT=datetime.today()

CST_TZ = pytz.timezone('America/Chicago')
HST_TZ = pytz.timezone('US/Hawaii')

CST_DT = datetime.now(CST_TZ)
HST_DT = datetime.now(HST_TZ)